/**
 * Generic styles
 */
body {
  padding: 0;
  margin: 0; }

.container {
  width: 960px;
  margin: 0 auto; }

.hidden {
  display: none; }
  
.full-width {
  width: 100%; }

.one-half, .three-fourths, .one-fourth {
  float: left; }

.one-half {
  width: 50%; }
  .one-half.left {
    width: 48%;
    margin-right: 2%; }

.one-fourth {
  width: 25%; }
  .one-fourth.left {
    width: 23%;
    margin-right: 2%; }

.three-fourths {
  width: 75%; }
  .three-fourths.left {
    width: 73%;
    margin-right: 2%; }

/**
 * Header styles
 */
#site-header {
  background: transparent url("../imgs/grad_bar.png") repeat-x 0 0; }

/**
 * Menu styles
 */
.menu-nav-container ul {
  text-align: left;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid rgba(71, 71, 71, 0.3); }
  .menu-nav-container ul li {
    display: inline-block;
    margin-right: 1em; }
    .menu-nav-container ul li a {
      color: #0f3cce;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      padding: .5em 1em; }
      .menu-nav-container ul li a:hover {
        background: #0f3cce;
        background: rgba(15, 60, 206, 0.5);
        color: #fff; }

/**
 * Content styles
 */
.main-content .big-image {
  z-index: -1;
  position: relative; }
  .main-content .big-image img {
    width: 100%; 
    height: auto; }
.main-content .big-image-over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(15, 60, 206, 0.5) 99%, rgba(15, 60, 206, 0.5) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(99%, rgba(15, 60, 206, 0.5)), color-stop(100%, rgba(15, 60, 206, 0.5)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(15, 60, 206, 0.5) 99%, rgba(15, 60, 206, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(15, 60, 206, 0.5) 99%, rgba(15, 60, 206, 0.5) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(15, 60, 206, 0.5) 99%, rgba(15, 60, 206, 0.5) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(15, 60, 206, 0.5) 99%, rgba(15, 60, 206, 0.5) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#800f3cce',GradientType=0 );
  /* IE6-9 */ }
.main-content h1 {
  color: #0b2061; }

/**
 * Right Column styles
 */
.right-column .inner {
  border-left: 1px solid #474747;
  border-left: 1px solid #fff; }
.right-column .block {
  margin-bottom: 1em; }
  .right-column .block h2 {
    margin-top: 0;
    padding: .5em 0 .5em 1em;
    background: #0b2061;
    color: #fff;
    font-size: 1em; }
  .right-column .block h2 a{
    color:#fff;
    text-decoration: none;
  }
  .right-column .block p {
    padding: 0 0 0 1em; }
  .right-column .block .no-margin {
    margin-bottom: 0; }
.right-column .block .photo-img img {
  width: 100%; }

/**
 * Footer styles
 */
#site-footer {
  background: #474747;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }
  #site-footer p {
    padding: 1em 0;
    margin: 0; }

/**
 * Clearfix styles
 */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }
