.image-grid .image{
  float: left;
  width: 24%;
  margin: 0 .5% .5% .5%;
}

.image-grid .image img{
  width: 100%;
}

.node-type-photo{
  position: relative;
}

.node-type-photo .single-image{
  position: relative;
}

.node-type-photo .single-image img{
  width: 100%;
  height: auto;
}

.node-type-photo h1{
  position: absolute;
  top: .5rem;
  left: 1rem;
  color: #fff;
  margin: 0;
  z-index: 1;
}

.node-type-photo .single-image .caption{
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;
  background: #444;
  background: rgba(0,0,0,.7);
  color: #ccc;
  border-top: 1px solid #000;
}

.node-type-photo .single-image .caption .date{
  color: #fff;  
}

